.card{
  padding: 3rem;
  border: 1px solid #ccc;
  margin: 20px;
}
.Heading{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.grid{
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.6 rem;
}